@import './animation'

.header_font
  font-size 42px
  color #0214a7

.aboutusImages
  width 100px
  height 100px

.aboutusImagesDiv
  text-align:center;

.aboutusBackground
 background-color rgba(222, 222, 222, 0.25)

.helpBackground
 background-color rgba(222, 222, 222, 0.25)


.aboutushead
  color black
  font-weight bold
  font-size 50

.tdu
  color Green
  text-decoration none
  &:hover
    text-decoration underline

.help_headline
  color black
  font-weight bold
  font-size 20px
  line-height 40px
