@import './animation'

.header_title
 font-size 12px
 text-align:center;

.header_font
  font-size 42px
  color #0214a7

.aboutusImages
  width 100px
  height 100px

.aboutusImagesDiv
  text-align:center;

.aboutusBackground
 background-color rgba(222, 222, 222, 0.25)

.helpBackground
 background-color rgba(222, 222, 222, 0.25)

.BrowseBackground
 background-color rgba(222, 222, 222, 0.25)

.aboutushead
  color black
  font-weight bold
  font-size 50

.tdu
  color Green
  text-decoration none
  &:hover
    text-decoration underline

.help_headline
  color black
  font-weight bold
  font-size 20px
  line-height 40px


.table11_6 table
  width:100%;
  margin:15px 0;
  border:30;

.table11_6 th
  background-color: #e0e0e0;
  color:#000000;

.table11_6 td
  font-size:0.95em;
  text-align:left;
  padding:15px;
  border-collapse:collapse;

.table11_6,.table11_6 th
  font-size:0.95em;
  text-align:left;
  padding:15px;
  border-collapse:collapse;

.table11_6 tr
  border: 1px solid #d2d2d2;

.table11_6 tr:nth-child(odd)
  background-color: #ffffff;

.table11_6 tr:nth-child(even)
  background-color:#ffffff;

.download_image
  width 20px
  height 15px

.newsTable_table
  width:100%
  text-align:left;
  line-height: 25px;
  border:1px solid #000000
  border-right-color #ffffff
  border-left-color #ffffff

.newsTable_th
  background-color: #eaeaea;

.news_date
 font-size:17px;
 line-height: 33px;
 color #848484
 font-weight bold

.news_content
 font-size:15px;
 line-height: 18px;
 color #4e4e4e
 font-weight bold

.ContactUsDiv
  font-weight bold
  font-size:25px;
  height:30px

.ContactUsBackground
 background-color rgba(222, 222, 222, 0.25)

.Browse_headline
  color black
  font-weight bold
  font-size 20px
  line-height 20px

.Browse_table table
  width:100%;
  margin:15px 0;
  border:30;

.Browse_table th
  background-color: #e8e8e8;
  color:#000000;


.Browse_table td
  font-size:0.95em;
  text-align:left;
  padding:13px;
  border-collapse:collapse;

.Browse_table th
  font-size:0.95em;
  text-align:left;
  padding:25px;
  border-collapse:collapse;

.Browse_table tr
  border: 1px solid #d2d2d2;

.Browse_table tr:nth-child(odd)
  background-color: #ffffff;

.Browse_table tr:nth-child(even)
  background-color:#ffffff;
